*{
    font-family: 'Roboto', 'Quicksand', sans-serif;
    box-sizing: border-box;
    outline: 0;
    transition: .2s;
  }
*::selection{
  background-color: #b5f7d6;;
}
body::-webkit-scrollbar{
  display: none;
}
a{
  text-decoration: none;
}
body{
 margin: 0;
 background: #f0f0f0;
}

/* Start Header */
header{
  background: white;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1.25px solid #b3b3b3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  right: 0;
  height: 60px;
  z-index: 100;
}

/* Logo */
#mainLogo{
  display: inline;
  width: 125px;
  margin-left: 12.5px;
  margin-top: 3.5px;
}

/* Hjem-ikon start */
.homeIcon{
  display: inline;
  position: absolute;
  display: inline;
  margin-left: 50px;
  margin-top: 10px;
}
.homeIcon img{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 100;
  width: 40px;
  height: 40px;
}
.homeIcon #home{
  z-index: 9999;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 7.5px;
}
.homeIcon .iconHover{
  opacity: 0;
  transition: opacity .125s linear;
}
.homeIcon:hover #home{
  opacity: 100;
  transform: scale(1.1);
}
.homeIcon:hover .iconHover{
  opacity: 0.75;
}
/* Hjem-ikon slutt */

/* Quotes øverst på siden */
#headerQuotes{
  float: right;
  padding-top: 19px;
  padding-right: 5px;
  font-style: italic;
  color: #3bde3b;
  transition: 1s;
  opacity: 0.75;
  font-size: 16px;
}
#time{
  display: inline;
  float: right;
  padding-top: 19px;
  padding-right: 20px;
  color: #3bde3b;
  opacity: 0.75;
}
/* Slutt Header */

/* Start Main*/
main{
  display: grid;
  margin-top: 55px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#mainLeft{
  background: #e6ecf0;
  background-image: linear-gradient(to top, #f1f6fa, #ace6ac);
  background-attachment: fixed;
  grid-column: span 2;
}
#mainCenter{
  background-image: linear-gradient(to top, #f1f6fa, #ace6ac);
  background-attachment: fixed;
  padding-bottom: 20px;
  grid-column: span 6;
}
#mainRight{
  background: #e6ecf0;
  background-image: linear-gradient(to top, #f1f6fa, #ace6ac);
  background-attachment: fixed;
  grid-column: span 2;
  padding: 25px;
}
#leftLogIn{
  background: white;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 15px;
  padding: 10px;
}
#greet{
  color: #3bde3b;
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}
#logInName{
  color: #3bde3b;
}
#registerButton{
  background: white;
  padding: 5px;
  color: #3bde3b;
  border: 1.5px solid #7bea7b;
  border-radius: 10px;
  margin-top: 0px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 15px;
}
#registerButton:hover{
  background: #7bea7b;
  color: white;
}

/*  Postmaker start */
#postMaker{
  background: white;
  margin: auto;
  border-radius: 10px;
  color: black;
  width: 95%;
  margin-top: 20px;
  padding: 20px;
  padding-bottom: 40px;
}
#postMakerTitle{
  color: #3bde3b;
  font-size: 30px;
  margin: 0;
}
#inpMelding{
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
#postMakerFile{
  opacity: 0;
  z-index: -1;
  display: relative;
  display: none;
}
#fileLabel{
  background: white;
  padding: 5px;
  color: #3bde3b;
  border: 1.5px solid #7bea7b;
  border-radius: 10px;
  margin-top: 0px;
  z-index: 1;
  cursor: pointer;
}
#fileLabel:hover{
  background: #7bea7b;
  color: white;
}
#filename{
  display: inline;
  margin-left: 10px;
}
#postSubmit{
  background: white;
  float: right;
  border-radius: 10px;
  background: #7bea7b;
  border: 1.5px solid #7bea7b;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: 80px;
  padding: 10px;
  margin-top: 0;
}
#postSubmit:hover{
  background: #62b462;
  border: 1.5px solid #62b562;
}
/* Postmaker slutt */

#sortMobile{
  display: none;
}

/* Post Start */
#me{
  background: #effaff;
}
.post{
  background: white;
  margin: auto;
  border-radius: 10px;
  border-bottom: 1.5px solid #e9e9e9;
  border-right: 1.5px solid #e9e9e9;
  width: 95%;
  margin-top: 20px;
  padding: 40px;
  padding-bottom: 10px;
  padding-top: 25px;
}
.postProfilePicture{
  overflow: hidden;
  border-radius: 50px;
  border: 1.5px solid #e9e9e9;
  width: 75px;
  height: 75px;
  grid-column: span 1;
  grid-row: span 1;
}
.postInfo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 75px;
}
.postND{
  grid-column: span 2;
  grid-row: span 1;
}
.postName{
  font-size: 18px;
  color: #3bde3b;
  margin: 10px 0 0 10px;
}
.postDate{
  color: #a7a7a7;
  margin: 5px 0 0 10px;
}
.postText{
  margin-bottom: 10px;
  margin-top: 15px;
}
.postImg{
  height: 300px;
  max-width: 100%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.postImg:hover{
  transform: scale(1.25);
}
.green{
  color: #3bde3b;
}
#verified{
  float: right;
  margin-right: 37px;
  width: 10px;
}
/* Post Slutt */

/* Sort-knappene start */
#sortTextRight{
  display: inline;
}
#sortButtons{
  margin-top: 5px;
  display: block;
}
.sortButton{
  border: 0;
  background: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  padding: 5px;
  margin-right: 4px;
}
.sortButton:hover{
  background: #e9e9e9;
}
/* Sort-knappene slutt */
/* Main slutt*/

/* Log in start */
#registerCenter{
  grid-column: span 6;
  background: white;
  padding: 100px 10%;
  height: 93vh;
}
#registerTitle{
  font-size: 45px;
  margin-top: 0;
  color: #3bde3b;
  text-align: center;
}
.registerInput{
  display: block;
  margin: 10px;
}
/* Log in slutt */

/* Profil start */
#userProfile{
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 95%;
  padding: 20px;
  margin: auto;
  height: 190px;
}
#userProfilePicture{
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 5px;
  box-shadow: 2px 2px #e9e9e9;
}
#profileName{
  font-size: 30px;
  margin: 20px 0 0 180px;
  color: #3bde3b;
}
#profileMail{
  margin-left: 180px;
  margin-top: 10px;
  color: #a7a7a7;
}
/* Profil Slutt */

#secFeedback{
  background: white;
  width: 95%;
  border-radius: 10px;
}

/* Størrelser for Smarttelefon */
@media(max-width:892px){
  header{
    height: 60px;
  }
  #mainLogo{
    width: 100px;
    margin-left: 12.5px;
    margin-top: 7.5px;
  }
  .homeIcon{
    display: inline;
    margin-left: 20px;
    margin-top: 9px;
  }
  .homeIcon img{
    width: 40px;
    height: 40px;
  }
  .homeIcon #home{
    width: 25px;
    height: 25px;
    margin: 7.5px;
  }
  #registerButton{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    padding: 5px;
  }
  #signedInText{
    display: inline;
  }
  #headerQuotes{
    display: none;
  }

  main{
    margin-top: 55px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #mainLeft{
    grid-column: span 10;
  }
  #mainCenter{
    grid-column: span 10;
  }
  #mainRight{
    grid-column: span 0;
    padding: 0px;
  }

  #leftLogIn{
    margin: 20px 10px 0 10px;
    padding: 10px;

  }

  /* Der man lager post */
  #postMaker{
    width: 95%;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 50px;
  }
  #postMakerTitle{
    margin: 0;
  }
  #inpMelding{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  #postMakerFile{
    width: 20%;
    padding: 10px;
    margin-top: 10px;
  }
  #postSubmit{
    width: 80px;
    padding: 10px;
    margin-top: 0;
    font-size: 15px;
  }

  #sortMobile{
    display: block;
    margin: 20px 0 0 20px;
  }
  /* Post Start */
  .post{
    width: 95%;
    margin-top: 20px;
    padding: 20px;
  }
  .postProfilePicture{
    width: 75px;
    height: 75px;
    grid-column: span 1;
    grid-row: span 1;
  }
  .postInfo{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 75px;
  }
  .postND{
    grid-column: span 2;
    grid-row: span 1;
  }
  .postName{
    margin: 10px 0 0 10px;
  }
  .postDate{
    margin: 10px 0 0 10px;
  }
  .postImg:hover{
    transform: scale(1);
  }
  /* Post Slutt */

  /* Sort-knappene start */
  .sortButton{
    padding: 5px;
    margin-left: 4px;
    display: inline;
    margin: 0;
  }
  #sortButtons{
    display: none;
  }
  #sortTextRight{
    display: none;
  }
  /* Log in */
  #registerCenter{
    grid-column: span 10;
  }

  /* Profil */
  #userProfile{
    border-radius: 10px;
    margin-top: 20px;
  }
}
